sudo: false
language: java

jdk:
  - oraclejdk8

before_install:
- export MESSAGE_QUEUE_HOST='localhost:9092'
- wget http://apache.claz.org/kafka/0.11.0.1/kafka_2.11-0.11.0.1.tgz -O kafka.tgz
- mkdir -p kafka && tar xzf kafka.tgz -C kafka --strip-components 1
- nohup bash -c "cd kafka && bin/zookeeper-server-start.sh config/zookeeper.properties &"
- nohup bash -c "cd kafka && bin/kafka-server-start.sh config/server.properties &"
- sleep 5
- kafka/bin/kafka-topics.sh --create --zookeeper localhost:2181 --replication-factor 1 --partitions 1 --topic test
